@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url("/sunshine.jpg");
}

@theme {
  --color-laker-purple: #552583;
  --color-laker-gold: #fdb927;
}
